<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta http-equiv="X-UA-Compatible" content="ie=edge"> 한 마디로 예전브라우저에 맞춰진 마크업을 해당 브라우저로 맞춤 -->
    <title>Hello-green</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<script>
    function setchoice(s){
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.append('qans4', s);
        location.href = "qbridge.html?" + urlParams ;
    }
</script>

<body>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Featured Section Begin -->
<div class="container" >
    <div class="qstndlevel__div">

        <div class="qstndlevel-title">
            <h2 th:text=" ${name} + '가 있어서'"></h2>
        </div>

    <form action="qbridge" method="post">
        <div class="qstndlevel-btn-3">
            <input type="hidden" th:name="name" th:value="${name}" />
            <input type="hidden" th:name="qstndlevel1" th:value="${qstndlevel1}" />
            <input type="hidden" th:name="qstndlevel2" th:value="${qstndlevel2}" />
            <input type="hidden" th:name="qstndlevel3" th:value="${qstndlevel3}" />
            <button type="submit" class="qstndlevel-btn-txt" value="A004001" name= "qstndlevel4" onclick="setchoice(value)">집중이 잘 돼요</button>
            <button type="submit" class="qstndlevel-btn-txt" value="A004002" name= "qstndlevel4" onclick="setchoice(value)">쾌적해요</button>
            <button type="submit" class="qstndlevel-btn-txt" value="A004003" name= "qstndlevel4" onclick="setchoice(value)">마음이 편해요</button>
            <button type="submit" class="qstndlevel-btn-txt" value="A004004" name= "qstndlevel4" onclick="setchoice(value)">즐거요</button>
        </div>
    </form>
    </div>
</div>



<!-- Featured Section End -->


<!-- Js Plugins -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.nice-select.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/mixitup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/main.js"></script>



</body>

</html>